.main-header {
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}
.nav-link {
  background-color: rgb(180, 174, 174);
  text-transform: uppercase;
  padding: 0.5em 1em;
  display: inline-block;
}

.nav-link.active {
    font-weight: bold;
  }